
// Overwrite Compass
$base-font-size: 14px;
$base-line-height: 20px;
$rhythm-unit: "px"; // If make this to em or rem, be careful with multilingual setting.
$round-to-nearest-half-line: true;

// Overwrite ngMaterial
$font-family: Verdana,'Helvetica Neue',"ヒラギノ角ゴ Pro W3","メイリオ","Meiryo",sans-serif;
$list-header-line-height: 1.4em;


// My own settings
$heading-font-family: "Roboto Slab","ヒラギノ角ゴ Pro W3","メイリオ",serif;
$display-font-family: 'Poiret One', cursive;
$navigation-font-family: Arial,'Helvetica Neue',"ヒラギノ角ゴ Pro W3","メイリオ","Meiryo",sans-serif;

$primary-color-light: $colorBlueGrey300;
$primary-color: $colorBlueGrey500;
$primary-color-dark: $colorBlueGrey800;

$secondary-color-light: $colorLime600;
$secondary-color: $colorLime700;
$secondary-color-dark: $colorLime900;

$article-header-leading-margin-lines: 1;



