
// Overwrite Compass
$base-font-size: 14px;
$base-line-height: 20px;
$rhythm-unit: "px";
$round-to-nearest-half-line: true;

// Overwrite ngMaterial
$font-family: Verdana,'Helvetica Neue',"ヒラギノ角ゴ Pro W3","メイリオ","Meiryo",sans-serif;
$list-header-line-height: 1.4em;


// My own settings
$heading-font-family: "Roboto Slab","ヒラギノ角ゴ Pro W3","メイリオ",serif;
$display-font-family: 'Poiret One', cursive;

$primary-color-light: $colorBlueGrey300;
$primary-color: $colorBlueGrey500;
$primary-color-dark: $colorBlueGrey800;
// $primary-color-light: $colorGrayLight;
// $primary-color: $colorGray;
// $primary-color-dark: $colorGrayDark;



