
// Setting for Japanse
$base-font-size: 15px;
$base-line-height: 26px;
:lang(ja) {
    .page-headline {
        @include adjust-font-size-to($display-1-font-size-base);
        @include leader(2);
        @include trailer(1);

    }
    .article-header {
      @include leader($article-header-leading-margin-lines);
      @include trailer(1.5);
      .article-headline {
        @include adjust-font-size-to($display-1-font-size-base);
        margin-bottom: 9px;
    }
    .lead {
        @include adjust-font-size-to($subhead-font-size-base);
        color: $colorGray;
        font-family: $heading-font-family;
    }
    }
    .article-info {
      &:first-child {
        margin-top: ($base-line-height - $base-font-size) / 2
      }
    }
    .page-content, .article-content {
        font-family: "ヒラギノ角ゴ Pro W3","メイリオ","Meiryo",sans-serif;
        > h2, h3 {
            font-weight: bold;
        }
        > h2 {
            @include adjust-font-size-to($headline-font-size-base);
            @include leader(1.5);
            padding-bottom: 3px;
            border-bottom: 1px solid $colorGrayLighter;
            margin-bottom: $base-line-height - 4px;
        }
        > h3 {
            @include adjust-font-size-to($title-font-size-base + 1);
            @include leader();
            @include trailer(0.5);
        }
        > p {
            @include adjust-font-size-to($base-font-size);
            @include leader(0.5);
            @include trailer(0.5);
            &:first-child {
          margin-top: 0;
        }
        }
    }
    .article-info {
         min-height: 2 * $base-line-height;
    }
}


