
// Setting for Japanse
$base-font-size: 15px;
$base-line-height: 26px;
:lang(ja) {
    .page-headline, .article-headline {
        @include adjust-font-size-to($display-1-font-size-base);
        @include leader(2);
        @include trailer(1);

    }
    .page-content, .article-content {
        > h2, h3 {
            font-weight: bold;
        }
        > h2 {
            @include adjust-font-size-to($headline-font-size-base);
            @include leader(2);
            @include trailer(1);
        }
        > h3 {
            @include adjust-font-size-to($title-font-size-base + 1);
            @include leader();
            @include trailer(0.5);
        }
        > p {
            @include adjust-font-size-to($base-font-size);
            @include trailer(0.5);
        }
    }
}


