@include establish-baseline;

h1, h2, h3, h4, h5, h6 , p, pre, ul {
    margin: 0px;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}

a {
     text-decoration: none;
    @include link-colors($secondary-color, $secondary-color-light, $secondary-color-light, $secondary-color-dark)
}
.md-toolbar-tools a {
  color: inherit !important;
}
body.index {overflow-y:scroll;}


pre.highlight {
    @include rhythm-borders(1px, 0.5);
    @include trailer(0.5);
    background-color: #F5F5F5;
    overflow: auto;
    code {
        white-space: pre;
        @include adjust-font-size-to(($body-font-size-base - 1));
    }
}

// adapted from bootstrap
blockquote {
  font-family: Raleway, serif;
  margin: 0;
  padding: 0 $base-line-height;
  @include padding-leader(0.5);
  @include padding-trailer(0.5);
  @include trailer(1);
  @include adjust-font-size-to($subhead-font-size-base);

  border-left: 5px solid $colorGrayLighter;

  p, ul, ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer, small, .small {
    display: block;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $colorGray;
    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}
$pack-horizontal-margin: 30px;
$pack-offset-sm: $layout-gutter-width + $pack-horizontal-margin;
$pack-offset-md: $layout-gutter-width + $pack-horizontal-margin;
$pack-offset-lg: $layout-gutter-width + 4 * $pack-horizontal-margin;

.pack {
    box-sizing: border-box;
    padding: 0 $layout-gutter-width;
    @media (min-width: ($layout-breakpoint-sm)) {
        margin: 0 $pack-horizontal-margin;
    }
    @media (min-width: ($layout-breakpoint-md)) {
        margin: 0 $pack-horizontal-margin;   
    }
    @media (min-width: ($layout-breakpoint-lg)) {
        margin: 0 4 * $pack-horizontal-margin;   
    }
    .md-toolbar-tools {
        padding: 0;
    }
}

.article-top-nav {
  @include padding-leader(0.5);
  .md-icon-button {
    height: 96px;
    width: 96px;
    line-height: 96px;
  }
  md-icon {
    height: 48px;
    width: 48px;
  } 
  .material-icons{
    font-size: 48px;
  }
  .newer {
    margin-right: 15px;
  }
  .older {
    margin-left: 15px;
  }
}

.page-headline {
    @include adjust-font-size-to($display-1-font-size-base);
    @include leader(2);
    @include trailer(1);
}

.article-header {
  @include leader($article-header-leading-margin-lines);
  @include trailer(.5);
  @media (min-width: ($layout-breakpoint-md)) {
    @include trailer(1.5);
  }
   .category {
    font-weight: bold;
   }
  .article-headline {
    @include adjust-font-size-to($display-1-font-size-base);
    margin-bottom: 9px;
    font-weight: bold;
  }
  .lead {
    @include adjust-font-size-to($subhead-font-size-base);
    color: $colorGray;
    font-family: $heading-font-family;
  }
}

.page-content, .article-content {
    > h2, h3 {
        font-weight: normal;
    }
    > h2 {
        @include adjust-font-size-to($headline-font-size-base);
        @include leader(1.5);
        @include trailing-border(1px, 0.5);
        @include trailer(0.5);
        border-bottom-color: $colorGrayLighter;
    }
    > h3 {
        @include adjust-font-size-to($title-font-size-base);
        @include leader();
        @include trailer(0.5);
    }
    > p {
        @include leader(0.5);
        @include trailer(0.5);
        @include hyphens(auto);
        &:first-child {
          margin-top: 0;
        }
    }
    > img {
      width: 100%;
    }
}

.article-footer {
  ul {
    @include trailer(0.5);
    padding-left: 20px;
  }
}

hr.footer-separater { padding: 0;
  @include leader(3);
  @include trailer(1);
  border: none;
  border-top: medium double $colorGrayLight;
  color: $colorGrayLight;
  text-align: center;
  // &:after {
  //   content: "§";
  //   display: inline-block;
  //   position: relative;
  //   top: -0.7em;
  //   font-size: 1.5em;
  //   padding: 0 0.25em;
  //   background: white;
  // }
} 

$col-read-width-computed: 540px;
.col-read {
    max-width: 100%;
    @media (min-width: ($layout-breakpoint-xs)) {
        width: $col-read-width-computed;    
    }
    background-color: #fff;
}
$col-side-width: ($layout-breakpoint-sm - 4 * $layout-gutter-width - $pack-horizontal-margin - $col-read-width-computed);

.col-side {
  margin-left: 3 * $layout-gutter-width;
  min-width: $col-side-width;
  margin-right: -1 * ($layout-gutter-width + $pack-horizontal-margin)
}


.nos-tabs {
  list-style: none;
  padding: 0;
  overflow: auto;
  justify-content: center;
  > li {
    > a {
      border-radius: 0;
      margin: 0;
      @include link-colors($primary-color, $primary-color-dark);
      &.active {
        border-bottom: 2px solid $primary-color
      }
    }
    > button.active {
        border-bottom: 2px solid $primary-color
    }
  }
}

.article-info {
  box-sizing: border-box;
  border-top: 1px solid $colorGrayLighter;
  color: $colorGray;
  min-height: 2 * $base-line-height;
  padding-top: 3px;
  font-size: $caption-font-size-base;
  font-style: italic;
  // font-family: 'Tangerine', cursive;
  &:first-child {
    margin-top: ($base-line-height - $base-font-size) / 2
  }
}

.table-of-contents {
  box-sizing: border-box;
  width: $col-side-width;
}


.table-of-contents {
   padding: 10px 10px 10px 10px;
   background-color: #fafafa;
   border: 1px solid $gray-lighter;
  border-radius: $border-radius-base;
}

.table-of-contents.affix {
  position: static;
}

/* Show and affix the side nav when space allows it */
@media (min-width: $layout-breakpoint-md) {
  .table-of-contents {
    &.affix, &.affix-bottom {
       width: $col-side-width;
    }
    &.affix {
      position: fixed; /* Undo the static from mobile first approach */
      top: 30px;
    }
    &.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
    }
  }
}

$link-focus-border: 1px;
$nav-focus-border: 3px;
$level-1-padding: 15px;
$level-2-padding: 25px;
/* All levels of nav */
.table-of-contents .nav > li > a {
    & {
      display: block;
      padding: 4px 0px 4px $level-1-padding;
      font-size: ($base-font-size - 1px);
      font-weight: 500;
      color: $primary-color;
      margin-bottom: 1px;
    }
    &:hover, &:focus{
      padding-left: ($level-1-padding - $link-focus-border);
      color: $primary-color-dark;
      text-decoration: none;
      background-color: transparent;
      border-left: $link-focus-border solid $primary-color;
  }
}
.table-of-contents .nav > .active {
    &, &:hover, &:focus {
        > a {
          padding-left: ($level-1-padding - $nav-focus-border);
          font-weight: bold;
          color: $primary-color-dark;
          background-color: transparent;
          border-left: $nav-focus-border solid $primary-color;
      }
  }
}

/* Nav: second level (shown on .active) */
.table-of-contents .nav .nav {
  // display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 5px;
}
.table-of-contents .nav .nav > li > a {
  & { padding-top: 1px;
      padding-bottom: 1px;
      padding-left: $level-2-padding;
      font-size: ($base-font-size - 2px);
      font-weight: normal;
  }
  &:hover, &:focus {
      padding-left: ($level-2-padding - $link-focus-border);
  }
}
.table-of-contents .nav .nav > .active {
    &, &:hover, &:focus {
        > a {
          padding-left: ($level-2-padding - $nav-focus-border);
          font-weight: 500;
      }
    & > a {
      border-left-style: double;
    }
    &:hover, &:focus {
        > a {
          border-left-style: solid;
        }
    }
  }
}
.table-of-contents a.common-page-nav{
  & {
      text-align: center;
      margin-top: 5px;
      display: block;
      padding: 4px 0px 4px;
      font-size: ($base-font-size - 1px);
      font-weight: 500;
      color: $primary-color-light;
    }
    &:hover, &:focus{
      color: $primary-color-dark;
      text-decoration: none;
      background-color: transparent;
  }
}
.site-header {
  background-color: $primary-color;
  color: #FFF;
  .md-toolbar-tools {
    font-size: $base-font-size;
  }
}

.header-menu .md-button {
  min-width: 0;
}
.header-menu.collapse {
    @media (min-width: ($layout-breakpoint-sm)) {
      display: block !important;
      height: auto !important;
    }
}
@media (max-width: ($layout-breakpoint-sm)) {
  .header-menu {
    position: absolute;
    top: $md-toolbar-medium-tall-height;
    right: 0px;
    background: $primary-color-light;
    width: 100%;
    .md-button {
      text-transform: capitalize;
    }
  }
}



.screen {
    background-color: $colorBlueGrey500;
    margin-bottom: 30px;
}
$site-logo-font-size-sm: ($layout-breakpoint-sm - 2 * $pack-offset-sm) /7;
$site-logo-font-size-md: ($layout-breakpoint-md - 2 * $pack-offset-md) /7;
.site-logo {
    font-family: $display-font-family;
    color: #fff;
    font-size: 41px;
    line-height: floor(41px * 43 / 56);
    text-align: center;
    @media (min-width: ($layout-breakpoint-sm)) {
        font-size: $site-logo-font-size-sm;
        line-height: floor($site-logo-font-size-sm * 43 / 56);
    }
    @media (min-width: ($layout-breakpoint-md)) {
        font-size: $site-logo-font-size-md;
        line-height: floor($site-logo-font-size-md * 47 / 62);
    }
    a:visited {
    color: #fff;
    }
    a:focus {
      outline: none; 
    }
}

.home-button {
  line-height: 1;
    font-family: $display-font-family;
    font-size: $display-1-font-size-base;
    color: #fff;
}

.index, .en_index, .ja_index{
  .home-button {
    display: none;
  }
}

a.gray-link {
    text-decoration: none;
    color: $colorGrayDark;
    &:hover {
        color: $colorGray;
    }
    &:visited {
        color: #666;
    }
    &.active{
      font-weight: bold;
    }
}

.time-info {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;  
    padding-right: 8px;
    flex: none;
    width: 60px;

    .day {
        font-size: $display-1-font-size-base;
         @media (min-width: ($layout-breakpoint-sm)) {
            font-size: $display-2-font-size-base;
        }
    }
    .month-year {
        line-height: 1.4;
        font-size: $subhead-font-size-base;
         @media (min-width: ($layout-breakpoint-sm)) {
            font-size: $title-font-size-base;
        } 
    }
}
.post-info-title{
  white-space: normal !important;
}
.post-info {
  margin: 10px 0px !important;
}

a.tag {
  text-transform: capitalize;
  cursor: pointer;
}

.page-footer {
    @include leading-border(1px, 1);
    @include leader(2);
    @include trailer(0.5);
    border-top: 1px solid #eee;
    color: $colorGray;
}

.copy-right {
  text-align: right;
  font-family: 'Tangerine', cursive;
  font-size: $title-font-size-base;
  @include trailer(0.5);
}


// For LaTeX logo.
.latex {
  font-family: Times, "Times New Roman", serif; 
  letter-spacing: 1px;
}

.latex sup {
    top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

.latex sub {
    bottom: 0;
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em;
}

.textasis {
  text-transform: none !important;
}

.md-button, .pagination, .md-label, .tag, .category, .md-headline {
  font-family: $navigation-font-family;
}

