@include establish-baseline;

h1, h2, h3, h4, h5, h6 , p, pre {
    margin: 0px;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}

// a {
//     text-decoration: none;
//     @include link-colors($colorDeepPurple500, $colorDeepPurple400, $colorDeepPurple500, $colorDeepPurple800)
// }



pre.highlight {
    @include rhythm-borders(1px, 0.5);
    @include trailer(0.5);
    background-color: #F5F5F5;
    overflow: auto;
    code {
        white-space: pre;
        @include adjust-font-size-to(($body-font-size-base - 1));
    }
}

.pack {
    box-sizing: border-box;
    padding: 0 $layout-gutter-width;
    @media (min-width: ($layout-breakpoint-sm)) {
        
        margin: 0 50px
    }
    @media (min-width: ($layout-breakpoint-md)) {
        margin: 0 100px;    
    }
    .md-toolbar-tools {
        padding: 0;
    }
}

.page-headline, .article-headline {
    @include adjust-font-size-to($display-1-font-size-base);
    @include leader(2);
    @include trailer(1);
}

.page-content, .article-content {
    > h2, h3 {
        font-weight: normal;
    }
    > h2 {
        @include adjust-font-size-to($headline-font-size-base);
        @include leader(2);
        @include trailing-border(1px, 0.5);
        @include trailer(0.5);
        border-bottom-color: $colorGrayLighter;
    }
    > h3 {
        @include adjust-font-size-to($title-font-size-base);
        @include leader();
        @include trailer(0.5);
    }
    > p {
        @include trailer(0.5);
        @include hyphens(auto);
    }
}



$col-read-width-computed: 540px;
.col-read {
    @media (min-width: ($layout-breakpoint-sm)) {
        width: $col-read-width-computed;    
    }
    background-color: #fff;
}

.screen {
    background-color: $colorBlueGrey500;
    margin-bottom: 30px;
}

.site-logo {
    font-family: $display-font-family;
    color: #fff;
    font-size: 41px;
    line-height: (41px * 43 / 56);
    @media (min-width: ($layout-breakpoint-sm)) {
        font-size: 68px;
        line-height: (68px * 43 / 56);
    }
    @media (min-width: ($layout-breakpoint-md)) {
        font-size: $display-4-font-size-base;
        line-height: ($display-4-font-size-base * 43 / 56);
    }
}

.home-button {
    font-family: $display-font-family;
    font-size: $display-1-font-size-base;
    color: #fff;
}

.index .home-button {
    display: none;
}

a.gray-link {
    text-decoration: none;
    color: $colorGrayDark;
    &:hover {
        color: $colorGray;
    }
    &:visited {
        color: #666;
    }
}

.time-info {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;  
    padding-right: 8px;
    .day {
        font-size: $display-1-font-size-base;
         @media (min-width: ($layout-breakpoint-sm)) {
            font-size: $display-2-font-size-base;
        }
    }
    .month-year {
        line-height: 1.4;
        font-size: $subhead-font-size-base;
         @media (min-width: ($layout-breakpoint-sm)) {
            font-size: $title-font-size-base;
        } 
    }
}

.page-footer {
    @include leading-border(1px, 1);
    @include leader(2);
    border-top: 1px solid #eee;
}
.page-footer {
    color: $colorGray;
}

.copy-right {
    font-family: 'Tangerine', cursive;
    font-size: $title-font-size-base;
}


// For LaTeX logo.
.latex {
  font-family: Times, "Times New Roman", serif; 
  letter-spacing: 1px;
}

.latex sup {
    top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

.latex sub {
    bottom: 0;
  text-transform: uppercase;
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
  font-size: 1em;
}