---
layout: false
ng: true
---
<md-list>
<md-list-item class="md-2-line" dir-paginate="article in articles | filter:{ $:category }  | itemsPerPage: 10">
    <div class="time-info">
        <span class="day">{{ article.date | date:'d' }}</span><br>
        <span class="month-year">{{ article.date | date:'MMM, yyyy' }}</span>
    </div>
    <div class="md-list-item-text post-info">
        <h3 class="post-info-title"><a href="{{ article.url }}" class="gray-link">{{ article.title}}</a></h3>
        <div ng-bind-html="article.summary"></div>
    </div>
</md-list-item>
</md-list>
<div class="text-center">
    <dir-pagination-controls></dir-pagination-controls>
</div>