---
layout: false
---
<!-- get tags for articles belongs to category. -->
<md-list-item class="md-2-line" ng-repeat="article in articles | filter:{ $:category }">
    <div class="time-info">
        <span class="day">{{ article.date | date:'d' }}</span><br>
        <span class="month-year">{{ article.date | date:'MMM, yyyy' }}</span>
    </div>
    <div class="md-list-item-text post-info">
        <h3 class="post-info-title"><a href="{{ article.url }}" class="gray-link">{{ article.title}}</a></h3>
        <div ng-bind-html="article.summary"></div>
    </div>
</md-list-item>