<% wrap_layout  :page do %>
  <h1 class="article-headline"><%= titleize current_article.title %></h1>
  <div class="col-read" flex>
    <article class="article-content">
      <%= yield %>
    </article>
  </div>
<% end %>