<footer>
<div class="pack">
    <div class="page-footer" layout="row">
        <div class="footer-left" flex>
            Shinnosuke Kondo
        </div>
        <div flex>
        </div>
    </div>   
</div>
</footer>