div[flex]
footer.site-footer
  .pack
    .page-footer layout="column" layout-gt-sm="row" layout-align="space-between"
      div flex-gt-sm="33" flex-order-sm="2"
        | Should you have any question, comment, or suggestion, please reach me at 
        = link_to "Github", "https://github.com/shinkondo/shinkondo.github.io"
        | . 
      .copy-right flex-order-sm="1" 2015 Shinnosuke Kondo, All rights reserved. 