<footer>
<div class="pack">
    <div class="page-footer" layout="row">
        <div class="footer-left" flex>
            
        </div>
        <div class="copy-right" flex>
            2015 Shinnosuke Kondo, All rights reserved.
        </div>
    </div>   
</div>
</footer>