<div flex></div>
<footer class="site-footer">
<div class="pack">
    <div class="page-footer" layout="row" layout-align="space-around">
      <div flex="33">
        Should you have questions, comments, or suggestions, please reach me at <a href="https://github.com/shinkondo/shinkondo.github.io">GitHub</a>.
      </div>
        <div class="copy-right">
            2015 Shinnosuke Kondo, All rights reserved.
        </div>
    </div>   
</div>
</footer>