<footer>
<div class="pack">
    <div class="page-footer" layout="row" layout-align="space-between">
        <div class="footer-left" flex>
            
        </div>
        <div class="copy-right">
            2015 Shinnosuke Kondo, All rights reserved.
        </div>
    </div>   
</div>
</footer>