
<md-toolbar class="site-header" class="md-default-theme">
<div class="pack">
  <div class="md-toolbar-tools">
    <%= link_to 'Nos et Mutamur', '/index.html', :class => 'home-button' %>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <% lang = current_page.metadata[:options][:lang] || current_page.data.lang %>
    <md-button hide-sm href="<%= "/#{lang}/about.html" %>">About</md-button>
    <md-menu hide show-sm>
        <md-button ng-click="$mdOpenMenu()" class="md-icon-button" aria-label="Open sample menu">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item><md-button href="<%= "/#{lang}/about.html" %>">About</md-button></md-menu-item>
        </md-menu-content>
    </md-menu>
    </div>
</div>
</md-toolbar>