<header>
  <md-toolbar class="md-default-theme">
  <div class="pack">
    <div class="md-toolbar-tools">
      <%= link_to 'NeM', '/index.html', :class => 'home-button' %>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <%= link_to 'About', 'en/about', :class => "md-body-1" %>
    </div>
  </div>
  </md-toolbar>
</header>