<% case logo %>
<% when "xetex"%>
    <span class="latex">X<sub>Ǝ</sub>T<sub>e</sub>X</span>
<% when "tex"%>
    <span class="latex">T<sub>e</sub>X</span>
<% else %>
    <span class="latex">L<sup>A</sup>T<sub>e</sub>X</span>
<% end %>