---
title: About
---

<div class="pack">
    <h1 class="page-headline"><%= current_page.data.title %></h1>
    <div class="col-read">
        <article class="page-content">
        <p>I am Shinnosuke Kondo. I finished my undergraduate education with a Computer Science degree, and will be working in a company in the Unite States. Naturally enough, my interests are in the field of Artificial Intelligence. Regardless, I love programming and formatting (which is the reason I am writing this blog).</p>
    
        <p>I am originally from Japan. Please do not be surprised at unfamiliar characters which may appear in this blog (such as 近藤伸之介, which is my name in Japanese). I often think about living in a foreign country. I may drop a post or two about my life, my philosophy, things like that.</p>
    
        <p> If you would like to know about the meaning of the title, simply google it. </p>
    
        <p>Oh, and I love :turtle:.  :penguin: is my second favorite, :sheep: third.</p> 
    
        <h2>Environment</h2>
        <p>I own a Windows 7 laptop. My favorite editor for now is Sublime Text 3, though I like emacs, too. I run must of my code via cygwin.
        </p>
    
        <h2>Update</h2>
        <p>My recent interest is in blogging using Jekyll.</p>
        </article>
    </div>
</div>