---
title: About
---

<div class="pack">
    <h1 class="page-headline"><%= current_page.data.title %></h1>
    <div class="col-read">
        <article class="page-content">
        <p>Nos et Mutamurへようこそ。</p>
        <p>はじめまして。近藤伸之介と申します。大学を計算機科学専攻で卒業し、生物情報学関係のIT企業に勤めています。このブログは、とくにトピックに制限を設けず、私が興味をもったことを綴っていく予定です。</p>
        
        <p>このサイトのタイトルについては、この記事を御覧ください。</p>
    
    
        <p>日本語・英語の二言語を使っていますが、片方にあって片方にない記事があります。主に、科学技術系の記事は英語で、それ以外の記事は日本語で書こうと思っていますが、最終的には気分で決まります。英語版のトップページは<%= link_to "こちら", "/en/"%>です。</p>

        <p>検索に関してGoogleには勝てませんが、トップページがブログ記事一覧になっています。新しい順、カテゴリ別の表示で、タグでフィルタもできます。<%= link_to "こちら", "/ja/"%>からどうぞ。</p>

        <h2>好きなこと</h2>
        記事の大体の傾向をつかむ助けになると思うので、私の好きなもの、こだわりなどについて少し書きます。

        <h3>何かを作ること</h3>
        <p>小さい頃から何かを時間をかけて作ることは好きです。折り紙ではくすだまをよく作っていました。大学時代はレポートのほとんどを<%= partial(:latex_logo, :locals => {:logo => "latex"}) %>で作成しました。</p>
        <p>プログラミングやウェブサイト作成もこの枠に入ります。今時間がかかっても後が楽に、そしてきれいになるようにすることが好きです。</p>

        <h3>のんびりしたもの</h3>
        <p> 一番好きな動物は:turtle:、二番目がペンギン:penguin:、三番目が:sheep:です。</p> 

        <h2>環境</h2>
        <p>Windows 7のノートパソコンを使っています。エディターはemacsも好きですが、最近は主にSublime Text 3を使用しています。大学時代は大抵Cygwinを通してプログラミングしていましたが、最近はフリーソフトのWindows対応も手厚いので、とくにこだわりはありません。</p>

    
        <h2>近況</h2>
        <p>Middlemanを使ってウェブサイトを作ることにはまっています。</p>
        </article>
    </div>
</div>