---
title: About
---

<div class="pack">
    <h1 class="page-headline"><%= current_page.data.title %></h1>
    <div class="col-read">
        <article class="page-content">
        <p>このブログでは、</p>
        <p> このサイトのタイトル、NosEtMutamurについては、この記事を御覧ください。</p>
    
        <p>ちなみに一番好きな動物は亀、二番目がペンギン、三番目が羊です。</p> 
    
        <h2>環境</h2>
        <p>Windows 7のノートパソコンを使っています。エディターは、emacsも好きですが、最近は主にSublime Text 3を使用しています。
        </p>
    
        <h2>近況</h2>
        <p>最近はMiddlemanを使ってウェブサイトを作ることにはまっています。</p>
        </article>
    </div>
</div>