<header>
  <md-toolbar class="md-default-theme">
    <div class="md-toolbar-tools">
      <%= link_to 'Home', '/index.html' %>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <%= link_to 'About', '/about.html', :class => "md-body-1" %>
    </div>
  </md-toolbar>
</header>